body {
    font-family: Roboto, Arial;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.top-section {
    background-color: #1f2937;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 375px;
}

.logo {
    color: #f9faf8;
    font-weight: 300;
    font-size: 24px;
    display: flex;
    align-self: center;
    /*Items I was playing around with to move elements
    flex-direction: column;
    justify-content: center;

    margin-right: auto;
    padding-left: 70px; I'm not sure if this is the best solution?*/
}

.nav {
    display: flex;
    align-content: flex-start;
}

.links {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

li {
    list-style: none;
}

.hero-banner {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

/*for the hero banner I need to get the flexboxes to center on the page and then be closer to each other*/

.hero-heading {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    text-wrap: wrap; /*I'm not sure about this. I suspect that I should be able to use flexbox to get it to wrap*/
    max-width: 530px; /*probably not ideal to hardcode a value...*/
    margin: 0;
}

/*I need to figure out how to get hero text and button to be the right sized and also button to appear under hero text*/
.hero-text {
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    padding: 5px 15px;
    border-radius: 10px;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-self: flex-start;
}

.hero-right {
    padding: 75px;
    background-color: grey;
    color: #f9faf8;
    display: flex;
    align-content: center;
}

.hero-text-right {
    display: flex;
    align-self: center;
}

.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
}
.images-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image {
    width: 150px;
    margin: 25px;
    color: #e5e7eb;
}
.images-text {
    color: grey;
    text-align: center;
}

.image-box {
    border: 5px solid #3882f6;
    border-radius: 10px;
    height: 150px;
    text-align: center;
}
.quote-banner {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.quote {
    display: flex;
    flex-direction: column;
}
.quote-header {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    width: 700px;
    text-align: start;
    display: flex;
    align-self: center;
    margin-bottom: 0;
}

.quote-text {
    font-size: 20px;
    display: flex;
    align-content: flex-start;
    align-self: center;
    margin-top: 0;
}
.action-banner {
    background-color: #3882f6;
    color: #e5e7eb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    gap: 70px;
}
.action-container {
    margin: 100px 500px;
}
.action {
    padding: 20px;
}
.action-header {
    margin-bottom: 0;
}
.action-text {
    margin-top: 0;
}
.action-button {
    border: 1px solid white;
    padding: 8px 20px;
    display: flex;
    justify-content: flex-end;
    align-self: center;
}
.footer {
    background-color: #1f2937;
}
